body{
    font-family: 'Play', sans-serif;
    font-size: 20px;
}

#dl{
    width: 60%;
}

#header{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    background-color:	#FFFACD;
}

i{
    margin: 10px;
    transition: color 0.6s ease-out;
}

i:hover{
    color: #DC143C;
} 

#slogan{
    font-family: 'Unlock', cursive;
    color:	#DC143C;
    font-size: 70px;
    text-align: center;
}

.social{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
} 

#brand1, #brand2, #brand3, .brand{
      font-weight: bold;
}

  #brand1, #brand2, #brand3, #item1, #item2, #item3, #price1, #price2, #price3, .brand, .item, .price {
      text-align: center;
      font-size: 28px;
}
  
  #discount1, #discount2, #discount3, .discount{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 35px;
  }

  .block1, .block2, .block3{
      border: 2px dashed #DC143C;
      padding: 15px;
  }

  .block1:hover, .block2:hover, .block3:hover{
    border: 2px dashed #191970;
}

.row{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 45px;
    margin-bottom: 45px;
}
  
img{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.brand{
  text-align: center;
}

