body{
    font-family: 'Play', sans-serif;
    font-size: 20px;
  }

  #header{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    background-color: #ADFF2F;
  }

#socmedia{
    text-align: center;
}
i{
    margin: 20px;
}
 

  #slogan{
    font-family: 'Unlock', cursive;
    color:	#DC143C;
    font-size: 70px;
    text-align: center;
    /* margin-top: 50px; */
    
  }

  #descrip1, #descrip2{
    padding: 10px;
    display: none;
  }

  #social{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
  } 

  /* i{
    margin-left: 8px;
    transition: color 0.6s ease-out;
  }

  i:hover{
    color: orangered;
  } */
 
  .row{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  
  img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;

  }

.brand{
  text-align: center;
}

#name1, #name2, #name3, #name4, #name5, #name6, #name6, #name7, #name8, #name9{
  text-align: center;
}

#price1, #price2, #price3, #price4, #price5, #price6, #price7, #price8, #price9{
  text-align: center;
}


#price4:before{
  content: '¥'
}

#price5:before{
  content: '$'
}

#price8:before{
  content: '฿'
}

#dl{
    width: 60%;
}